.navbar {



    align-items: center;
}

.navbar ul {

    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(102, 233, 205);

}

.navbar ul li {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

.navbar ul li:hover {
    background-color: rgb(236, 159, 70);
}